@import '_normalize.css';

input:-webkit-autofill {
	background-color: #fff !important;
	background-image: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

* {
	box-sizing: border-box;
}

body, html {
	height: 100%;
}

body {
	font-size: 16px;
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	color: #212121;
	background-color: #80DEEA;
}

.app {
	background-color: #fff;
	width: 375px;
	border-radius: 2px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
	margin: 20px;
	background-color: #fff;
	overflow: auto;
	transition: all .3s;
}

.icon {
	width: 24px;
	height: 24px;
	display: inline-block;
	position: absolute;
	margin: 12px;
	top: 0;
}

.btn-default {
	box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
	border-radius: 2px;
	margin: 10px 0;
	width: 100%;
	padding: 0;
	border: none;
	line-height: 36px;
	text-align: center;
	cursor: pointer;
	transition: background-color .3s;
}

@media (max-width: 415px) {
	.app {
		width: 100%;
		margin: 0;
	}
}
