@import '_normalize.css';

* {
	box-sizing: border-box;
}

body, html {
	height: 100%;
}

body {
	font-size: 16px;
	font-family: Arial, sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #212121;
}

.se {
	background: url(/public/images/se.png) 0 0 no-repeat;
	width: 382px;
	height: 798px;
	background-size: 382px;
	padding: 117px 31px 113px 31px;
}

.app {
	background-color: #fff;
	width: 320px;
	height: 567px;
	border-radius: 2px;
}

.icon {
	width: 24px;
	height: 24px;
	display: inline-block;
	position: absolute;
	margin: 12px;
	top: 0;
}
